<div id="jssor_1" class="slider-root jssor">
  <!-- Loading Screen -->
  <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
    <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
    <div class="loading"></div>
  </div>
  <div data-u="slides" class="slides">

    <div data-p="112.50" style="display: none;">
      <img data-u="image" src="/sites/default/files/slides/front/slide_1.jpg" />
      <div class="cite" data-u="caption" data-t="0">
        <div class="cont">Белград, балканский Берлин.</div>
        <div class="author">Le Figaro</div>
      </div>
    </div>

    <div data-p="112.50" style="display: none;">
      <img data-u="image" src="/sites/default/files/slides/front/slide_2.jpg" />
      <div class="cite" data-u="caption" data-t="0">
        <div class="cont">В последние годы Белград заявил о себе как европейское направление «для тех, кто в курсе».</div>
        <div class="author">Lonely Planet</div>
      </div>
    </div>

    <div data-p="112.50" style="display: none;">
      <img data-u="image" src="/sites/default/files/slides/front/slide_3.jpg" />
      <div class="cite" data-u="caption" data-t="0">
        <div class="cont">Европейская столица ночной жизни.</div>
        <div class="author">Lonely Planet</div>
      </div>
    </div>

  </div>
  <!-- Bullet Navigator -->
  <div data-u="navigator" class="jssorb01" style="bottom:16px;right:16px;">
    <div data-u="prototype" style="width:12px;height:12px;"></div>
  </div>
  <!-- Arrow Navigator -->
  <span data-u="arrowleft" class="jssora02l" style="top:0px;left:8px;width:55px;height:55px;" data-autocenter="2"></span>
  <span data-u="arrowright" class="jssora02r" style="top:0px;right:8px;width:55px;height:55px;" data-autocenter="2"></span>
</div>