/* font-family: "GothamProRegular"; */
@font-face {
  font-family: "Gotham";
  src: url("GothamProRegular/GothamProRegular.eot");
  src: url("GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
  url("GothamProRegular/GothamProRegular.woff") format("woff"),
  url("GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "GothamProMedium"; */
@font-face {
  font-family: "Gotham";
  src: url("GothamProMedium/GothamProMedium.eot");
  src: url("GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
  url("GothamProMedium/GothamProMedium.woff") format("woff"),
  url("GothamProMedium/GothamProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
/* font-family: "GothamProBold"; */
@font-face {
  font-family: "Gotham";
  src: url("GothamProBold/GothamProBold.eot");
  src: url("GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
  url("GothamProBold/GothamProBold.woff") format("woff"),
  url("GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}
/* font-family: "GothamProItalic"; */
@font-face {
  font-family: "Gotham";
  src: url("GothamProItalic/GothamProItalic.eot");
  src: url("GothamProItalic/GothamProItalic.eot?#iefix")format("embedded-opentype"),
  url("GothamProItalic/GothamProItalic.woff") format("woff"),
  url("GothamProItalic/GothamProItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
/* font-family: "GothamProLight"; */
@font-face {
  font-family: "Gotham";
  src: url("GothamProLight/GothamProLight.eot");
  src: url("GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
  url("GothamProLight/GothamProLight.woff") format("woff"),
  url("GothamProLight/GothamProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}
/* font-family: "GothamProLightItalic"; */
@font-face {
  font-family: "Gotham";
  src: url("GothamProLightItalic/GothamProLightItalic.eot");
  src: url("GothamProLightItalic/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
  url("GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
  url("GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 200;
}
