/* REGULAR */
@font-face {
  font-family: 'Ubuntu';
  src: url('ubuntu-r.eot');
  src: url('ubuntu-r.eot?#iefix') format('embedded-opentype'),
  url('ubuntu-r.woff') format('woff'),
  url('ubuntu-r.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* BOLD */
@font-face {
    font-family: 'Ubuntu';
    src: url('ubuntu-b.eot');
    src: url('ubuntu-b.eot?#iefix') format('embedded-opentype'),
         url('ubuntu-b.woff') format('woff'),
         url('ubuntu-b.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
/* SEMIBOLD */
@font-face {
    font-family: 'Ubuntu';
    src: url('ubuntu-m.eot');
    src: url('ubuntu-m.eot?#iefix') format('embedded-opentype'),
         url('ubuntu-m.woff') format('woff'),
         url('ubuntu-m.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
/* LIGHT */
@font-face {
    font-family: 'Ubuntu';
    src: url('ubuntu-l.eot');
    src: url('ubuntu-l.eot?#iefix') format('embedded-opentype'),
         url('ubuntu-l.woff') format('woff'),
         url('ubuntu-l.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
