
/* Start by resetting CSS in the menu */
#floating-manager-menu h2,
#floating-manager-menu ul,
#floating-manager-menu li,
#floating-manager-menu img {
  margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

#floating-manager-menu a {
  color: white;
  text-decoration: none;
}

#floating-manager-menu {
  background: #494949;
  border: 1px solid #6a6a6a;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 7pt;
  line-height:150%;
  opacity: 0.9;
  position: fixed;
  right: 25px;
  top: 25px;
  width: 150px;
  z-index: 1000;
}

#floating-manager-menu .inner {
  padding: 0.2em;
}

#floating-manager-menu h2 {
  background: url('images/menubar.gif') repeat-x;
  color: white;
  cursor: move;
  font-size: 8pt;
  font-weight: normal;
  line-height: 18px;
  padding-right: 16px;
  text-align: center;
  width: 134px;
}

#floating-manager-menu ul {
  margin: 0.5em;
}

#floating-manager-menu ul li {
  display: block;
  list-style-image: none;
  text-align: left;
}

#floating-manager-menu li ul {
  margin-left: 1em;
}

#floating-manager-menu .close-button {
  background: url('images/close.gif');
  cursor: pointer;
  position: absolute;
  height: 18px;
  right: 3px;
  top: 0;
  width: 13px;
}