body
  font-family: $font-family-base
  font-size: 13px
  line-height: 1.5

//body.toolbar-drawer
//  padding-top: 0 !important

h1, h2, h3, h4, h5, h6
.navbar-nav > li > a
  text-transform: uppercase

h1, h2, h3, h4, h5, h6
  line-height: 1.5
  a
    color: $font-color-main

h1
  font-size: 18px
  color: #333
  font-weight: 600
h2
  font-size: 16px

a, a:active, a:hover
  text-decoration: none
  color: #333

a:hover
  color: #000

.region-content a:not(.btn)
  color: desaturate($main-color, 30%)
  //text-decoration: underline
  &:hover
    color: desaturate($main-color, 20%)

h1, h2, h3
.field-name-node-link
  a
    text-decoration: none !important
h1, h2, h3 a
  color: inherit !important

label
  font-weight: normal

.pagination
  a
    text-decoration: none !important
    color: #333 !important