/**
 * Colorbox Core Style:
 * The following CSS is consistent between example themes and should not be altered.
 */
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}
#cboxContent {
  position: relative;
}
#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#cboxTitle {
  margin: 0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/**
 * These elements are buttons, and may need to have additional
 * styles reset to avoid unwanted base styles.
 */
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: none;
  cursor: pointer;
}
/**
 * Avoid outlines on :active (mouseclick),
 * but preserve outlines on :focus (tabbed navigating)
 */
#cboxPrevious:active, #cboxNext:active, #cboxClose:active, #cboxSlideshow:active {
  outline: 0;
}
.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
}
.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
}
/* Reset box sizing to content-box if theme is using border-box. */
#colorbox, #cboxContent, #cboxLoadedContent {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/**
 * Colorbox module plain style:
 * The styles are ordered & tabbed in a way that represents
 * the nesting of the generated HTML.
 */
#cboxOverlay {
  background: #000;
}
#colorbox {
  outline: 0;
}
#cboxContent {
  overflow: hidden;
  position: relative;
}
#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}
#cboxTitle {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  bottom: 0;
  left: 0;
  color: #333;
  width: 100%;
  padding: 8px 12px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#cboxCurrent,
#cboxPrevious,
#cboxNext,
#cboxClose {
  position: absolute;
  padding: 8px 0;
}
#cboxCurrent {
  right: 6em;
  bottom: 0;
  color: #666;
}
#cboxClose {
  bottom: 0;
  right: 12px;
  color: #333;
}
#cboxPrevious,
#cboxNext {
  -webkit-appearance: none !important;
  background: transparent url(../img/gall-but-next-prev.png) no-repeat left center;
  min-height: 100%;
  width: 40px;
  bottom: 0;
}
#cboxPrevious:focus,
#cboxNext:focus {
  outline: none !important;
}
#cboxPrevious {
  left: 0;
}
#cboxNext {
  right: 0;
  background-position: -40px center;
}

#cboxLoadingOverlay {
  background: #fff;
}
#cboxLoadingGraphic {
  background: url(../img/loading_animation.gif) no-repeat center center;
}
#cboxClose.cbox-close-plain {
  position: absolute;
  font-size: 20px;
  line-height: 18px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  background: rgba(0, 0, 0, 0.5);
  top: 4px;
  right: 4px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.cbox-close-plain:hover {
  color: rgba(255, 255, 255, 0.9);
  background: rgba(0, 0, 0, 0.8);
}


#colorbox {
  box-shadow: none
}
#cboxOverlay {
  background-color: #000
}
