.views-exposed-form .views-exposed-widget
  padding-right: 1.6em

.views-widget-edit-field-price-value .form-group
.views-widget-edit-field-square-total-value .form-group
.views-widget-filter-field_price_value .form-group
.views-widget-filter-field_square_total_value .form-group
  float: left
  width: 46%

.views-exposed-widget .delim
  float: left
  padding: 7px 6px

.form-item-field-place-tid
.form-item-shs-term-node-tid-depth
  select.form-control
    width: 48%
    &.shs-select-level-1
      margin-right: 12px



#views-exposed-form-estate-listing-panel-pane-1
#views-exposed-form-estate-listing-page-1
  .views-exposed-form
    background: #eeeeee
    margin-bottom: 2em
  .views-exposed-form > div
    padding: 1em
  .views-exposed-widget
    width: 100%
    margin-bottom: 22px
    padding: 0
  #button-wrapper
    text-align: left
    margin: 0
  .form-submit
    margin-top: 0
  label
    margin-bottom: 8px
    font-weight: normal
    text-transform: uppercase
    font-size: 12px
    .unit
      color: rgba(#000, 0.55)
  .form-item-field-estate-type-tid .help-block
    display: none



.front .views-exposed-form
  margin-bottom: 0 !important
