$owl-button-width = 6px
.owl-carousel
  .owl-nav
    position: absolute
    top: 37%
    width: 100%
    & > div[class*="owl-"]
      background: transparent
      border-radius: 0
      width: 30px
      height: 30px
      border: $owl-button-width solid #eee
      opacity: 0.6
      position: absolute
      &:hover
        background: transparent
        opacity: 0.9
    .owl-prev
      left: 2%
      border-width: 0 0 $owl-button-width $owl-button-width !important
      -webkit-transform: rotate(45deg)
      transform: rotate(45deg)
    .owl-next
      right: 2%
      border-width: 0 $owl-button-width $owl-button-width 0 !important
      -webkit-transform: rotate(-45deg)
      transform: rotate(-45deg)

// Moving dots inside. Add your class if needed
.owlcarousel_settings_thumbs_slider
.owlcarousel_settings_main_slider
  .owl-dots
    position: absolute
    width: 100%
    bottom: 0
  .owl-dot span
    background: #eee
    opacity: 0.8
  .owl-dot.active span
    background: #fff !important
    opacity: 1

.owlcarousel_settings_main_slider
  .owl-nav
    top: 45%

