
#colorpicker {
  float: left;
}

#color-fieldset div {
  padding: .5em;  
}

.item-selected {
  background-color: #eee !important;
}

#color-fieldset {
  float: left;
}

#color-fieldset .form-item {
  display: block;
  overflow: hidden;
  width: 25em;
}

#color-fieldset .form-item label {
  display: block;
  float: left;
  width: 15em;
}

#color-fieldset .form-item input {
  display: block;
  float: left;
}