html.js fieldset.collapsed
  border-width: 1px

// Оформляем суффикс/префикс у текстового поля (также нужна поддержка в шаблоне, см. estate_preprocess_form_element())
.with-suffix
.with-prefix
  label
    display: block
  .form-control
    display: inline
    width: auto
  .suffix, .prefix
  /.suffix, .prefix
    display: inline-block
    padding: 6px 12px
    background-color: #eee
    border: 1px solid #ccc
  .prefix
  /.prefix
    border-right-width: 0
    border-radius: 4px 0 0 4px
  .suffix
  /.suffix
    border-left-width: 0
    border-radius: 0 4px 4px 0

fieldset.collapsible
  a.fieldset-legend
    background: transparent url("/misc/arrow-asc.png") no-repeat right 12px center
  // Это пока работает криво
  //&.collapsed a.fieldset-legend
  //  background-image: url("/misc/arrow-desc.png")