body
  font-size: 15px

.align-mob-center
  text-align: inherit

.main-container
#navbar
footer.footer
  .col-secondary
    width: 21%
  .col-main
    width: 58%

.no-sidebars
  .content-col
    width: 100%

.one-sidebar.sidebar-second
  .content-col
    width: 70%
  aside.second-sidebar
    width: 30%

.main-content .move-col
  margin-left:-35px

#navbar
  .logo img
    width: 100%
    height: 68px
  .col-secondary
  .extrabar
    line-height: 72px
    height: 72px
  .social
    display: inherit
    margin-left: 16px
  .langs
    float: left !important
    a
      padding: 0 4px !important

footer.footer
  text-align: inherit
  .menu.nav a
    padding: 0 4px !important

.lang-ru #navbar
.lang-ru footer.footer
.i18n-ru #navbar
.i18n-ru footer.footer
  .menu.nav a
    padding: 0 10px !important
    font-size: 14px !important

//h1.page-header
//  font-size: 16px

.node-estate.node-teaser .links
  display: none

.node-estate.node-teaser h2
.node-estate.view-mode-thumbnail h2
.node-blog.node-teaser h2
.node-blog.view-mode-thumbnail h2
  font-size: 14px

.node-blog.view-mode-thumbnail h2
  text-transform: none
  font-weight: normal
  margin: 12px 0 26px 0
  line-height: 1.3


.region-sidebar-second
  &.affix
  &.affix-bottom
    width: 165px
  &.affix
    position: fixed
    top: 10px
   width: 165px
  &.affix-bottom
    position: absolute

  .webform-client-form-640
    .webform-submit
        padding:5px 5px

.view-blog-listing
  .views-field-title-field 
    h2.title
      margin: 12px 0
      font-size: 14px
      width: 100%
      padding: 0

aside #webform-client-form-640 
  width: 100%