// EXPANDING
.main-container .col-secondary
#navbar .col-secondary
footer.footer .col-secondary
.main-container .col-main
#navbar .col-main
footer.footer .col-main
  width: 100%

body
  font-size: 16px

#navbar
  text-align: center
  background: lighten($main-color, 96%)
  .navbar-collapse
    padding: 0
  .navbar-nav > li > a
    padding: 0 12px
  .extrabar
    line-height: 3em
  .navbar-nav > li > a
    line-height: 72px
  a.logo
    //margin: 8px 30px !important
    padding-right: 0 !important
    float: none !important
    display: inline-block
    img
       // padding-top:20px 
  .langs
    float: none !important
    display: inline-block
    a
      line-height: 1em
  .social
    display: none

footer.footer
  text-align: center
  & > div
    margin-bottom: 24px

#navbar
footer.footer
  .menu.nav a
    padding: 0 6px !important
    font-size: 13px !important

.txt-cols-2
  column-count: 2
  column-gap: 2em

.node-estate.node-teaser
  .row div:nth-child(2)
    padding-left: 0
  .col-sm-4
    width: 38%
  .col-sm-8
    width: 62%

.node-estate.node-teaser
.node-blog.node-teaser
  .col-sm-8
    padding-left: 0

h1.page-header
  text-align: center
  font-size: 30px

.panelizer-view-mode img
    margin-bottom: 25px
.panelizer-view-mode h2
    margin-top: 5px

