// HIDING
.node-estate.node-teaser .links
.first-sidebar
  display: none

.align-mob-center
  text-align: center

.btn
  &.btn-primary
    padding: 10px 24px

#navbar
  background: rgba(#fff, 0.8)
  z-index: 111
  a.logo
    padding: 0
    width: 70%
    padding-top: 10px
    img
      width: 100%
  .navbar-toggle
    margin-right: 0
    border-color: #333
    .icon-bar
      background: #333
  .col-secondary
    overflow: auto

  .col-main
    background-color: #fff

  .navbar-collapse
    text-align: center
    border-top: none
    ul.menu
      li
        display: block
        a
          padding: 12px 0 !important
    .lang-switch
      float: none !important
      text-align: center
      a
        font-size: 14px
        padding: 12px 0
        color: #666
        display: inline-block
    .country-sel
      display: none


footer.footer
  text-align: center
  font-size: 14px
  background: rgba(#999, 0.1)
  .nav.navbar-nav
    margin-right: 0
    margin-left: 0
    li
      float: none
      display: block
      a
        padding: 8px 0 !important
  .social
    margin-top: 16px
  .createdby
    margin-top: 3em

aside .block-title
.page-header
  text-align: center
  font-weight: normal
  font-size: 20px

aside .block-title
  margin: 0.6em 0 1.2em 0
  font-size: 18px

.node-block h2
  text-align: center
  font-size: 16px
  font-weight: normal

.field-name-field-amenities .field-item
  display: inline-block
  margin: 0 20px 8px 0

.field-name-field-photos
  .item
    width: 48%
  .item:nth-child(3n)
    margin-right: 11px !important
  .item:nth-child(2n)
    margin-right: 0 !important

.view-property-last .node-estate
  text-align: center
  margin-bottom: 20px !important
  font-size: 14px
  h2
    font-size: 14px

#block-views-blog-listing-block-1
  text-align: center

.front
  .content-col h2
    margin-bottom: 16px

.front .pane-front-about-search
  margin-top: -73px !important
  padding-top: 73px
  padding-bottom: 0
  .panel-panel.right
    margin-bottom: 3em
    padding-right: 15px

.views-exposed-form
  .panel-col-first
  .panel-col-last
    width: 100%
    margin-right: 0
  #button-wrapper
    text-align: center !important
    padding: 1em 0

.node-estate.node-teaser
  h2
    margin-top: 16px
    text-align: center
  .panel-panel.right
    text-align: center
  .pane-node-field-price
  .pane-node-field-square-total
    display: inline-block
    margin: 0 1em
    font-size: 1em

#mini-panel-estate_amenities
  .panel-panel.left
    width: 60%
    float: left
  .panel-panel.right
    width: 40%
    float: right

.page-uri-partners
  .field-name-body
    .btn-primary:first-child
      margin-bottom: 1em
      margin-left: 1.4em

aside #webform-client-form-640 
  width: 100%


// iPhone 6 & 6+
@media (min-width: 370px)
  #navbar a.logo
    width: 58%