//*** Some external includes
// Colorbox
@require "components/colorbox.css"
// Vegas JS
@require "components/jquery.mb.bgndgallery.min.css"

// Base styles
@require "components/base.styl"

// Exposed filters
@require "components/exposed_filters.styl"

// Owl-carousel styles
@require "components/owl-carousel.styl"


// Don't need float at current layout
#navbar .navbar-header
  float: none
  margin: 0 -15px

.navbar-toggle
  padding: 15px
  margin-top: 14px

ul, ul.list-inline
  margin-left: 0

ul.masonry
  padding: 0
  li
    list-style: none
.btn-xs
  background: rgba(#fff, 0.9)
  border-radius: 2px

table.minimal
  tr
    background-color: #fff !important
  td
    border-top: 1px solid #eee !important
    vertical-align: middle !important
  td:first-child
    padding-left: 0
  td:last-child
    padding-right: 0
  &.no-header
    tr:first-child td
      border-top: none !important

.rub
  font-size: 0.96em

.page-header
  text-align: center
  border-bottom: none
  margin: 1.6em 0
  padding-bottom: 0
  font-weight: normal

.txt-cols-2
  column-count: 2
  column-gap: 2em

.cur-pointer
  cursor: pointer

.panel
  .panel-heading
    padding: 15px
    h2, .submitted
      margin: 0
    h2
      font-size: 1.5em
    .submitted
      margin-top: 10px
.btn
  text-transform: uppercase
  border-radius: 0
  font-family: $font-family-base
  &.btn-primary
    //font-weight: bold
    background-color: darken($main-color, 1%)
    border: none
    padding: 6px 16px
    text-shadow: 1px 1px 0 rgba(#000, 0.6)
    color: #fff
    transition: background-color 300ms, border-bottom-color 300ms
    &:hover
      background-color: darken($main-color, 16%)
      border-bottom-color: darken($main-color-lighter, 50%)
  &.btn-default
    border-color: $main-color
    color: $main-color
    &:hover
      background-color: lighten($main-color, 92%)
  &.large
    padding: 10px 22px

.btn-reverse
  background: #fff
  color: $main-color !important
  text-shadow: none
  border: 1px solid $main-color
  &:hover, &:active, &:hover:active, &:focus
    background-color: rgba($main-color, 0.1) !important
    border-color: darken($main-color, 20%) !important
  &:hover:active
    background-color: rgba($main-color, 0.3) !important


div#toolbar div.toolbar-shortcuts ul
  padding: 2px 0

.view-header
  margin-bottom: 20px

// Если фильтр в панели, то некрасивые отступы - убираем их
.views-exposed-form.panel .views-exposed-widget
  padding-top: 0

// Правки для форм
.form-control
  &.form-checkboxes
    padding: 0
    border: none
    box-shadow: none
    input.form-control // сам чекбокс
      width: auto
      height: auto
      display: inline-block
      margin-right: 5px
    label
      font-weight: normal

.first-sidebar
.second-sidebar
.content-col
  padding-top: 15px
  padding-bottom: 15px

//.main-container
//  background: rgba(#000, 0.35)

//.content-col
//.col-main
//  background: #fff


// NAVBAR: details
#navbar
  margin-bottom: 0
  background: transparent
  border: none
  //.navbar-nav
  //  margin-left: -12px
  .extrabar
    font-size: 14px
  .logo
    margin: 0
    img
      width: 86%
      height:88px
      padding: 0;
  // Main menu
  .row_2 .navbar-nav
    //float: right !important
    > li > a
      font-weight: 600
      font-size: 14px
      color: #333 !important
      border-bottom: 0
      text-transform: uppercase
      transition: border-bottom-color 300ms, color 300ms
      &:hover, &.active
        color: $main-color !important
      &.active
        font-weight: bold
        color: $main-color !important
  // Language switchers
  .language-switcher-locale-session
    display: inline
    padding-left: 0
    li
      list-style-type: none
      display: inline-block
      padding: 0
      margin: 0
      a
        padding: 0 6px
        margin: 0
        text-transform: uppercase
        display: inline-block
        line-height: 3em
      &:hover
        color: #666 !important


.social
    //margin-left: 30px
    line-height: normal
    //padding-top: 24px
    a
      padding-right: 4px
    .icon
      display: inline-block
      height: 20px
      width: 20px
      background: transparent url(../img/soc_icons.svg?x) no-repeat 0 0
    .icon-ig
      background-position: 0 -22px
    .icon-mail
      background-position: 0 -44px
    .icon-tw
      background-position: 0 -66px
    .icon-vk
      background-position: 0 -88px
    .icon-ok
      background-position: 0 -110px


#navbar
footer.footer
  .social
    margin-left: 30px
    padding-top: 24px
  .menu.nav a
      padding: 0 14px

.lang-ru #navbar
.lang-ru footer.footer
.i18n-ru #navbar
.i18n-ru footer.footer
  .menu.nav a
    padding: 0 10px

.lang-en .language-switcher-locale-session a.en
.lang-ru .language-switcher-locale-session a.ru
.lang-sr .language-switcher-locale-session a.sr
  font-weight: bold
  &:hover
    color: #333

// ESTATE Header
#navbar
  .country-sel
    position: relative
    margin-right: 2em
    .dropdown-menu
      top: 96%
      -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1)
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1)

$head-extra-row-transp = 0.8

.node-type-blog
  #navbar .row_extra
    h1
      font-size: 24px
    .details
      font-size: 16px
  .field-name-body
    margin-bottom: 30px

.node-webform .field-name-field-description
#block-system-main
    margin-bottom: 30px

.modal-header
  h2, h3, h4
    margin: 0

.field
  .field-label
    color: #666
    font-weight: normal


//*** FOOTER
footer.footer
  border-top: none
  margin-top: 15px
  padding: 15px 0
  &, & a
    color: $font-color-second
    //text-transform: uppercase
    //font-weight: bold
    //letter-spacing: 0.6px
  .col-main
    background-color: transparent
    padding: 0
  .nav.navbar-nav
  /#navbar .nav.navbar-nav
    float: none
    display: block
    li
      float: none
      display: inline-block
    a:hover
      background: transparent
  .social
    margin: 10px 0 0 0
    padding: 0
    .icon
      background-position: 0px 0
    .icon-ig
      background-position: 0 -22px
    .icon-mail
      background-position: 0 -44px
    .icon-tw
      background-position: 0 -66px
    .icon-vk
      background-position: 0 -88px
    .icon-ok
      background-position: 0 -110px

  h3.title
    font-size: 16px
    margin-bottom: 12px

  .createdby
    margin-top: 1em


.region-footer
  font-family: $font-family-base
  // Copyrights
  #block-block-1
    text-align: center
    text-transform: uppercase
    font-size: 17px
    font-weight: bold
    letter-spacing: 1px
    
.footer 
  li.first
    margin-left:20px

// *** Группы/блоки обертки для полей ноды
.node-block
  margin-bottom: 24px
  h2
    border-bottom: 1px solid #ddd
    text-transform: uppercase
    font-size: 15px
    font-weight: 600
    color: #333
    //letter-spacing: 0.5px
    line-height: 1
    padding-bottom: 16px
    margin: 0 0 16px

.well
  box-shadow: none
  h2.block-title
    border-bottom-color: #ddd

.region.well
  background: none
  border: none

// KEY VALUES - toc-стиль
$toc-padding = 8px
.group-key-values
  font-family: $font-family-base
  .field
    background: #fff url(../img/toc-dots.png) left center repeat-x !important
    margin: 10px 0
    &:first-child
      margin-top: 0
  .field-label
    text-transform: uppercase
    background-color: #fff
    padding-right: $toc-padding
  .field-items
    float: right
    width: 41%
    background-color: #fff
    padding-left: $toc-padding

//*** CONTACT NOW
.node-block.group-agent
.node-block.group-contact
  .panel
    border: 1px solid $color-header-line

.webform-inc
  .node h2
    margin: 0 0 20px

//*** Блок агента на странице недвижимости
.user-profile.view-mode-block_like
  font-family: $font-family-base
  .field
    margin: 0 0 10px 0
  .field-name-ds-user-picture
    float: left
    margin-bottom: 0
    margin-right: 20px
  .field-name-field-name
    font-size: 15px
    margin-top: 15px
  .field-name-field-phone
  .field-name-field-phone a
    color: #666
  //img
  //  border-radius: 50%

.field-name-contact-and-share
  margin-top: 15px
  //padding-top: 15px
  //border-top: 1px dashed #ddd

.contact-now
  text-align: center
  .note
    color: #333
    margin-top: 12px
  .btn
    font-size: 15px

//*** Карточка района на странице недвижимости
.field-name-field-district
  position: relative
  .field-name-title
    position: absolute
    bottom: 0
    width: 100%
    background: rgba($main-color, 0.8)
    text-align: center
    h3
      margin: 0
    a
      padding: 12px 0
      color: #fff
      font-size: 20px
      width: 100%
      display: block

//*** Таблица документов (attachments)
.field-name-field-attachments
  .file-icon
    height: 20px
    padding-right: 4px
  .filesize
    color: #666
    font-size: 12px

.views-row .node-teaser
  //margin-bottom: 30px
  h2.pane-title
    display: none


//*** SIDEBARS: white font on transparent bg
aside
  &, .help-block
    color: $font-color-second
  .block
    //background: rgba(#000, 0.2)
    border: none
    margin-bottom: 2em
    background-color: #f2f2f2
    padding: 1em
  .block-title
    font-size: 1em
    font-weight: 600
    margin-top: 0
    margin-bottom: 1em

#sidebar.affix-top 
  position: static
  margin-top: 30px
  width: 234px



// *** Листинг статей/новостей ***

.view-blog-listing
  .views-field-title-field 
    h2.title
      margin: auto
      width: 80%
      padding: 30px 0
      font-size: 16px
    
  .views-field-field-photos-1 a img
      margin: auto


  // Блок "Смотрите также" в правой колонке
  &.view-display-id-block_1
    .views-row
      margin-bottom: 1.6em
    .title
      margin: 10px 0
      font-size: 14px
      text-transform: none

.panelizer-view-mode
  .right
    margin-bottom: 35px


aside .view-id-blog_listing
  .views-field-field-photos-1
    margin-right: -15px
    margin-left: -15px


.rrssb-buttons li a
  text-decoration: none !important


.view-cards-country-city-types
  .views-row
    margin-bottom: 1em
  .views-field-name a
    font-weight: 600
  .views-field-nothing-1
    font-weight: 600
  .card-link a
    color: desaturate($main-color, 30%)

.field-name-node-link
  margin-top: 12px
  a
    color: $main-color
    font-weight: bold
    border-bottom: 2px solid tint($main-color, 80%)
    &:hover
      color: darken($main-color, 20%)
      border-bottom-color: $main-color

//.page-node.node-type-estate
  // Hiding header on top, because we need it below
  //h1.page-header
  //  display: none

//*** Node-estate teaser & thumbnail-list DISABLED, cauze from old version
.node-estate.node-teaser--disabled
.node-estate.view-mode-thumbnail--disabled
  h2
  /.node-blog.node-teaser h2
    margin: 4px 0 0 0
    font-weight: 600
  .group-subheader
    margin: 12px 0
    //.field-name-field-price
    //  color: $main-color
    //  font-weight: bold
  .field-name-field-location
    clear: both
    .adr
      *
        display: inline-block
        margin: 0 3px
      :first-child
        margin-left: 0
  .field-name-field-price
    float: left
    margin-right: 16px
  .field-name-field-sale-status
    color: #666
    text-transform: uppercase
  .field-name-body
    color: #333
  .group-properties
    font-family: $font-family-base
    .field
      margin: 0 0 2px
    .label-inline
      display: inline-block
  .links
    margin: 12px 0 0 0
    padding: 4px 0 5px 0
    a
      transition: color 250ms
      color: #333
      &:hover
        color: $main-color

ul.shs-hierarchy
  list-style-type: none
  margin: 0
  padding: 0
  li
    display: inline
  li::after
    content: '>'
    margin: 0 0 0 5px
  li:last-child::after
    display: none

.pane-node-field-place
  margin: 1em 0


.page-node .pane-node-field-photos
  margin-bottom: 1em


.pane-estate-amenities
  margin: 0 0 0.4em
  .panel-pane
  .field-name-field-price
    margin-bottom: 0.3em
  .field-name-field-price
  /.page-node .field-name-field-price .field-item:first-child
    font-size: 1.2em
  h6.pane-title
    display: none

  .field-name-field-amenities
    margin: 1em 0
    padding: 1em 0
    border: 1px solid #ddd
    border-width: 1px 0
    .field-item
      display: inline-block
      margin-bottom: 0.3em
      width: 33%

.pane-node-field-location
  margin-top: 2em

.panel-panel
  .field-label-inline
    .field-label
      margin-right: 8px
    .field-label:after
      content: ": "


.node-estate.node-teaser
  .row
    position: relative
  .col-sm-8
    position: static
  .links
    position: absolute
    bottom: 0

.node-estate.node-block-like
.node-newbuild.node-block-like
  background-color: #f2f2f2
  margin-bottom: 1.5em
  .panels-flexible-region
    width: 100%
  .pane-node-title-field
    margin-top: 1em
  .estate-prop
    margin-bottom: 1em
  h3
    margin: 0 0 0.5em 0
  .panel-separator
    display: none
  a
    color: #333
  .prop-row
    text-align: center
    .fld
      display: inline-block
      margin: 0 0.8em

.page-node.node-type-newbuild
  .pane-node-field-price
    margin-bottom: 1em


.page-new .node-teaser
  h2
    margin-top: 0

.node-newbuild.node-block-like
  text-align: center
  .pane-node-field-photos
    margin-bottom: 1em
  .pane-node-field-place
    text-align: center
  a
    text-decoration: none
  .pane-node-field-price
    margin-bottom: 1em

.node-teaser
  .pane-node-body
    margin-bottom: 1.2em
  .node-readmore a
    background: #187793
    padding: 5px 10px
    color: #eee
    transition: background-color 300ms
    text-decoration: none
    text-shadow: 1px 1px 0 rgba(0,0,0,0.6);
    &:hover
      background-color: #14657c
      color: #fff


.pane-custom.pane-1
  h2
    margin-top: 0
    margin: 10px 0 22px


.node .field-name-field-photos .items
  .item
    margin: 0 11px 11px 0
  .item:nth-child(3n)
    margin-right: 0

.node.view-mode-full
  h1
    margin-bottom: 22px


.node-estate.view-mode-thumbnail
  margin-bottom: 24px !important
  h2
    margin-top: 14px
    margin-bottom: 12px
    font-size: 13px // 16
  .group-properties
  .group-subheader
    text-align: center
  .group-properties
    border-color: #ccc
    .field
      border: none
      margin: 0 6px
  .group-subheader
    color: #555
    margin: 5px 0
  .group-properties .field
  .group-subheader .field
    float: none
    display: inline-block

//*** Node-blog teaser
.node-blog.node-teaser
  .field-name-post-date
    margin: 8px 0 12px 0
    color: #666
  h2
    font-size: 18px
    font-weight: 600

.node-blog.view-mode-block_like
  margin-bottom: 1em
  background-color: #f2f2f2
  h3
    margin: 1em 0
    font-weight: normal !important
    padding: 0 10px
    text-transform: none


//*** MAIN PAGE
.front
  .first-sidebar
  .second-sidebar
  .content-col
    padding-top: 0
    padding-bottom: 0
  .pane-title, h2
    text-align: center
    margin: 1em 0
    font-size: 1.6em
    text-transform: uppercase
    letter-spacing: 0.8px
    font-weight: normal
  .content-col h3
    font-size: 1em
    text-align: center
    font-weight: 600
  #navbar .row_1
    background: rgba(#000, 0.75)
  #navbar .row_2
    background: rgba(#fff, 0.5)
  .row .node-block-like
  .row .view-mode-block_like
    border-bottom: 1px solid rgba($main-color, 0.3)
  .view-footer
    text-align: center
    padding: 1.2em 0 2em 0
// EXTRA HEADER
  .row_extra
    background: rgba(#fff, 0.2)
    text-align: center
    .container
    //  width: auto
      padding: 0 !important
    h2
      text-transform: uppercase
      color: #000
    #block-bean-front-search-text
      padding: 8em 0
      h2
        font-size: 2.2em
        text-shadow: 1px 1px 0 rgba(#ffffff, 0.5)
      .field-name-field-body
        color: #000
        font-size: 1.8em

.front .pane-front-about-search
  padding-top: 60px
  padding-bottom: 60px
  background: $main-color
  .backstretch
    opacity: 0.7
  .panel-pane
    padding: 1em 0
  .panel-panel.left
    padding: 0 2em
  .pane-node
    font-size: 1.2em
    color: #000000
    h2
      display: none
    p
      margin-bottom: 0
  .row
    background-color: rgba(#fff, 0.88)
    display: flex
    flex-wrap: wrap
    & > div
      display: flex
      align-items: center
  .panel-panel.right
    padding-right: 0
    .panel-pane
      padding: 0
  #views-exposed-form-estate-listing-page-1 .views-exposed-form
    background-color: rgba(lighten($main-color, 60%), 0.4)

#front-panel
  .pane-bean-o-kompanii-blok-na-glavnoy
  .pane-bean-banner-na-glavnoy
    margin: 3em 0

.button
  &-outline
    text-transform: uppercase
    text-decoration: none !important
    font-size: 0.9em
    padding: 8px 12px
    border: 1px solid $main-color
    transition: background-color 400ms
    &:hover
      background-color: lighten($main-color, 93%)


// Temporary styling search form on frontpage
// TODO: move logic of this to form_alter()
.frontzzz #block-views-exp-search-realty-page
  background: rgba(#fff, 0.3)
  padding: 2em 0
  border: none
  margin-bottom: 0
  h2.block-title
    display: none
  .views-exposed-widgets
    margin: 0
  .views-exposed-widget
    float: none
    display: inline-block
    text-align: left
    width: auto
    margin: 0 3em 1em 0
    vertical-align: top
  /*.views-submit-button
    clear: both
    width: 100%
    text-align: center*/
  label
    width: 100%
    color: #000
    text-transform: uppercase
    font-weight: bold
    .unit
      color: #333

.columns
  -webkit-column-count: 2
  -webkit-column-gap: 20px
  -moz-column-count: 2
  -moz-column-gap: 20px
  column-count: 2
  column-gap: 20px
  li
    -webkit-column-break-inside: avoid /* Chrome, Safari, Opera */
    page-break-inside: avoid /* Firefox */
    break-inside: avoid /* IE 10+ */
  ul
    padding-left:0
    list-style-position: inside
    li
      margin-bottom: 10px

//*** SLIDER x
@require "_slider.jssor.css"

.slider-root.jssor
  position: relative
  margin: 0 auto
  width: 100%
  height: 392px
  overflow: hidden
  visibility: hidden
  .loading
    position: absolute
    display: block
    background: url('../img/loading.gif') no-repeat center center
    top: 0px
    left: 0px
    width: 100%
    height: 100%
  .slides
    cursor: default
    position: relative
    width: 100%
    height: 392px
    overflow: hidden
  .cite
    position: absolute
    bottom: 10px
    left: -600px
    min-width: 300px
    max-width: 540px
    padding: 0
    //height: 30px
    font-size: 16px
    line-height: 30px
    text-align: center
    text-shadow: 1px 1px 0 rgba(#fff, 0.5)
    .cont
      background-color: rgba(#fff, 0.65)
      color: #000
      position: relative
      min-height: 35px
      font-weight: bold
      line-height: 1.4
      padding: 8px 36px
      &:before, &:after
        background: transparent url(../img/quotes.png?zzzxc) no-repeat 0 center;
        position: absolute
        width: 21px
        height: 100%
        content: ' '
      &:before
        top: 0
        left: 5px
      &:after
        bottom: 0
        right: 5px
        background-position: -24px center
    .author
      text-align: right
      font-style: italic
      text-transform: uppercase
      text-shadow: 1px 1px 0 rgba(#000, 0.5)
      color: #fff
      &:before
        content: "— "

.marg-l-1
  margin-left: 12px
.marg-l-2
  margin-left: 20px
.marg-t-1-neg
  margin-top: -12px
.no-pad
  padding: 0

.page-node-30 .content-col
.page-node-2977 .content-col
  h1, h2, .subtitle
    text-align: center
  h1.page-header
    padding: 0.4em 0 1.4em 0
    margin-bottom: 1em
  h2
    margin: 1.5em 0
    &.first
      margin-top: 0.6em
  p
    margin-bottom: 1.2em
  .subtitle
    text-transform: uppercase
    color: #666

.page-node-30.lang-ru .content-col
.page-node-2977.lang-ru .content-col
  h1.page-header
    font-size: 1.3em

#modalContactUs
  h2
    display: none



aside #webform-client-form-640 
  width: 300px

// Прячем заголовок у формы обратной связи TODO: сделать по человечески
aside #node-640 h2
    display: none
