#navbar
  .logo img
    width: 84%
  .col-secondary
  .extrabar
    line-height: 72px
    height: 72px
  .social
    margin-left: 30px
  .langs a
    padding: 0 6px

#navbar
footer.footer
  .menu.nav a
    padding: 0 14px !important
    font-size: 14px !important

.lang-ru #navbar
.lang-ru footer.footer
.i18n-ru #navbar
.i18n-ru footer.footer
  .menu.nav a
    padding: 0 14px !important
    font-size: 14px !important

.node-estate.node-teaser .links
  display: block

.region-sidebar-second
  &.affix
  &.affix-bottom
    width: 234px
  &.affix
    position: fixed
    top: 10px
   width: 234px

  .webform-client-form-640
    .webform-submit
        padding: 8px 12px