
/* Start by resetting CSS in the menu */
#floating-manager-menu h2,
#floating-manager-menu ul,
#floating-manager-menu li,
#floating-manager-menu img {
  margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

#floating-manager-menu a {
  text-decoration: underline;
}

#floating-manager-menu {
  background: white;
  border: 2px solid #333;
  font-size: 8pt;
  line-height:150%;
  opacity: 0.9;
  padding: 2px;
  position: fixed;
  right: 25px;
  top: 25px;
  width: 150px;
  z-index: 1000;
}

#floating-manager-menu h2 {
  background: #333;
  color: white;
  cursor: move;
  font-size: 80%;
  line-height: 13px;
  padding-right: 13px;
  text-align: center;
  text-transform: uppercase;
  width: 137px;
}

#floating-manager-menu ul {
  margin: 0.5em;
}

#floating-manager-menu ul li {
  display: block;
  list-style-image: none;
  text-align: left;
}

#floating-manager-menu li ul {
  margin-left: 1em;
}

#floating-manager-menu .close-button {
  background: url('images/arrow-up.gif');
  cursor: pointer;
  height: 11px;
  margin: 1px;
  position: absolute;
  right: 2px;
  top: 2px;
  width: 11px;
}

#floating-manager-menu.collapsed .close-button {
  background: url('images/arrow-down.gif');
}